body {
  font-family: Montserrat Alternates, sans-serif;
}

nav {
  top: 30px; 
  margin: auto 10%;
}

.logo {
 width: 15%;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  opacity: 1;
  background: radial-gradient(50% 50% at 50% 50%, #164863 -50%, rgba(22, 72, 99, 0) 90%);
  font-family: Montserrat Alternates;
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D;
}

.nav-link:hover {
  color: black;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;
  border-radius: 15px;
  opacity: 1;
  background: #164863;
  border-color: #164863;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #164863;
  border-color: #164863;
}



.first-section {
  opacity: 1;
  background: linear-gradient(118deg, #DDF1FD 6%, rgba(155, 190, 200, 0) 60%);
}

.content {
  width: 1000px;
  /* height: 543px; */
  padding-top: 100px;
  padding-bottom: 50px;
}

.heading {
  font-family: Montserrat Alternates;
  font-size: 72px;
  font-weight: 600;
  line-height: 91px;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D
}

.try-btn {
  font-size: 35px;
  padding: 15px 30px;
  margin-top: 15%;
}

.left-side {
  background: radial-gradient(33% 33% at 53% 54%, #9BBEC8 0%, rgba(155, 190, 200, 0) 100%);
}


/* second section  */
.second-section {
  padding-top: 5%;
}

.wave-heading {
  font-size: 36px;
  font-weight: bold;
  line-height: 91px;
  text-align: center;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D
}

.wave-heading span {
  background: radial-gradient(50% 20% at 50% 75%, #164863 -20%, rgba(22, 72, 99, 0) 100%);
}

.fas-copy {
  color: #164863;
  width: 150px;
  height: 80px;
  z-index: 0;
}

.copy-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D
}

.copy-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #3D3D3D
} 

/* third section */
.third-section{
  background-image: url('/static/images/background-img.svg');
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 830px;
}

.upload-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 250px;
}

.upload-btn {
  padding: 33px 40px;
  border-radius: 65px;
  box-shadow: 11px 20px 10px 0px rgba(0, 0, 0, 0.3);
  font-size: 64px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
}


/* fourth section  */
.fourth-section {
  padding-bottom: 8%;
  background: linear-gradient(118deg, #DDF1FD 6%, rgba(155, 190, 200, 0) 60%);
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}


.testimonial {
  position: relative;
  display: flex;
}

.fa-user {
  font-size: 80px;
  color: #427D9D;
}

.fa-user-right {
  color: #164863;
}

.bubble {
  position: relative;
  background-color: #427D9D;
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  order: 0;
}

.bubble-right {
  position: relative;
  background-color: #164863;
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  order: 0;
}

.bubble::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #427D9D;
}

.bubble-right::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #164863;
}

.bubble-text {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  /* line-height: 32px; */
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #FFFFFF;
  padding: 8px;
}

/* footer section */

footer {
  background-color: #164863;
  color: #fff;
  font-size: 18px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #DDF2FD;
}

.fas-footer {
 margin-right: 12px;
}

.fas-social {
  font-size: 25px;
}

/* edit page */

.edit-page {
  background: linear-gradient(211deg, #4F7D8A 0%, #9BBEC8 0%, rgba(254, 254, 254, 0.0137) 75%, rgba(255, 255, 255, 0) 75%);
}


.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  background: rgba(155, 190, 200, 0.41);
  border-radius: 80px;
}

.summary-title {
  font-weight:700;
}

.summary-content {
  font-size: larger;
}

